<main class="main">
    {{#with data}}
    <form action="/purchase-submit?id={{id}}" method="post" class="form">
        {{>heading title="Ваше замовлення"}}

        <ul class="cart">
            {{#each cart}}
            <li class="cart__item">
                <span>{{text}}</span>
                <span>{{price}} грн</span>
            </li>
            {{/each}}
        </ul>

        {{>divider}}

        {{>heading title="Оформлення замовлення"}}
        <div class="half">


            {{>field type='text' label="Ім'я" name="firstname"}}

            {{>field type='text' label="Прізвище" name="lastname"}}
        </div>
        <div class="half">
            {{>field type='text' label="Телефон" name="phone"}}

            {{>field type='text' label="Пошта" name="email"}}
        </div>
        {{>field type='text' label="Коментар:" name="comment"}}
        <div class="half">

            {{>field type='text' label="Промокод" name="promocode"}}
            {{>field type='text' label="Списати бонуси" name="bonus"}}

        </div>

        {{>field type='number' value=totalPrice name="totalPrice" disabled=true}}
        {{>field type='number' value=productPrice name="productPrice" disabled=true}}
        {{>field type='number' value=deliveryPrice name="deliveryPrice" disabled=true}}
        {{>field type='number' value=amount name="amount" disabled=true}}

        <p class="form__total">Всього: {{totalPrice}} грн (+{{bonus}}грн на бонусний рахунок)</p>
        {{>button text="Купити зараз" price=price}}
    </form>
    {{/with}}
</main>